<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property scope="context" name="MESSAGE_PATTERN" value="%d{HH:mm:ss.SSS} [%-5level] [%X{requestId}] [%thread] [%X{deviceSerialNumber}] [%X{employeeId}]
    %logger{60} - %msg%n%rEx{
                full,
                java.lang.reflect.Method,
                org.apache.catalina,
                org.springframework.aop,
                org.springframework.security,
                org.springframework.transaction,
                org.springframework.web,
                sun.reflect,
                net.sf.cglib,
                org.eclipse.jetty,
                ByCGLIB
                }"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${MESSAGE_PATTERN}</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>

    <logger name="net.ttddyy.dsproxy.listener.SLF4JQueryLoggingListener" level="DEBUG"/>

</configuration>